{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 62
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "styled-components"
  ]
}
