language: node_js

node_js:
  - "8"

cache:
  directories:
    - node_modules

script:
  - npm run build

deploy:
  provider: pages
  local-dir: dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: dev
